<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Update_Detail">
    <classes>
      <class name="bankAutomation.Para_Bank_Automation.EndToEnd_TestCase"/>
     <!--  <class name="bankAutomation.Para_Bank_Automation.UpdateContactInfo"/>-->
    </classes>
  </test> 

  <!-- Test -->
</suite> <!-- Suite -->
